In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from private_info import POSTGRES_PW

In [5]:
db_url = f"postgresql+psycopg2://postgres:{POSTGRES_PW}@localhost:5432/ecom_analysis"

In [3]:
try:
    conn = psycopg2.connect(dbname = 'ecom_analysis', user='postgres', password=POSTGRES_PW, port=5432)
except:
    print('connection was unsuccessful')

In [4]:
cur = conn.cursor()

In [6]:
engine = create_engine(db_url)

In [4]:
aisles_df = pd.read_csv('resources/aisles.csv')
dept_df = pd.read_csv('resources/departments.csv')
order_prod_df = pd.read_csv('resources/order_products.csv').sample(10000)
orders_df = pd.read_csv('resources/orders.csv').sample(10000)
prod_df = pd.read_csv('resources/products.csv')

In [7]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [8]:
dept_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [9]:
order_prod_df.head()

          order_id  product_id  add_to_cart_order  reordered
24788441   2614333       26209                  1          0
19401464   2046287       35909                  7          1
5908727     623626       13176                  1          1
13495532   1424387       18917                 29          0
7525690     794424       27681                 12          1

In [10]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2273202,2834268,136884,prior,6,4,17,6.0
3381492,2593124,203787,prior,8,0,10,1.0
609219,3382089,36723,prior,33,2,14,3.0
3394163,1597349,204549,prior,8,3,15,27.0
924078,491091,55459,prior,5,4,13,9.0

In [11]:
prod_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13